@model IEnumerable<WebsiteBanHang.Context.C2119110263_Brand>



<div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
        <div class="card-header d-flex">
            <h3 class="card-title flex-fill">Quản lý thương hiệu</h3>
            @Html.ActionLink("Thêm thương hiệu", "Create")
        </div>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowOnHomePage)
            </th>
            <th></th>
        </tr>




        @foreach (var item in Model)
        {
            var slg = item.Slug;
            var url_details = "/dashboard/chi-tiet-thuong-hieu/" + slg + "-" + item.Id;
            var url_edits = "/dashboard/sua-thuong-hieu/" + slg + "-" + item.Id;
            var url_deletes = "/dashboard/xoa-thuong-hieu/" + slg + "-" + item.Id;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img style="width:8em" src="~/Content/images/brand/@item.Avatar" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowOnHomePage)
                </td>



                <td>
                    <a class="btn btn-danger mx-1" href=@url_edits> <i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger mx-1" href=@url_details> <i class="fa fa-info"></i></a>
                    <a class="btn btn-danger mx-1" href=@url_deletes><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </table>
</div>
