@model WebsiteBanHang.Context.C2119110263_Users

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Bạn có muốn xóa không?</h3>
<div>
    <h4>Xóa Thương Hiệu</h4>
    <hr />
    <table style="margin: 40px" class="table table-bordered">
        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
        </tr>
        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
        </tr>
        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.Password)
            </td>
        </tr>

        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.IsAdmin)
            </td>
        </tr>
    </table>


    @using (Html.BeginForm("Delete", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="margin: 40px" type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
