@model WebsiteBanHang.Context.C2119110263_Users

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card-body my-3">
    <table class="table table-bordered">
        <h4>Chi Tiết Tài Khoản</h4>
        <tr>
            <th style="width:120px">Tên Trường</th>
            <th>Nội dung</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <td>@Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>

            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Email)</th>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Password)</th>
            <td>@Html.DisplayFor(model => model.Password)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IsAdmin)</th>
            <td>@Html.DisplayFor(model => model.IsAdmin)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
