@model IEnumerable<WebsiteBanHang.Context.C2119110263_Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex">
                        <h3 class="card-title flex-fill">Quản lý người dùng</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Password)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsAdmin)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Password)
                                        </td>
                                        <td>
                                            @if (item.IsAdmin == true)
                                            {
                                                <p>Quản Trị Viên</p>
                                            }
                                            else
                                            {
                                                <p>Thành Viên</p>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-danger mx-1" href=@Url.Action("Edit", "User", new { id = item.Id })> <i class="fas fa-edit"></i></a>
                                            <a class="btn btn-danger mx-1" href=@Url.Action("Details", "User", new { id = item.Id })> <i class="fa fa-info"></i></a>
                                            <a class="btn btn-danger mx-1" href=@Url.Action("Delete", "User", new { id = item.Id })><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
