@model IEnumerable<WebsiteBanHang.Context.C2119110263_Product>


@{
    ViewBag.Title = "Thùng rác";
}



<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex">
                        <h3 class="card-title flex-fill">Thùng Rác Sản Phẩm</h3>
                        @Html.ActionLink("Create New", "Create")
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Avatar)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().ShortDes)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().PriceDiscount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().TypeId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Slug)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().BrandId)
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        <img style="width:8em" src="~/Content/images/items/_thumbs/Images/@item.Avatar" alt="Alternate Text" />

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShortDes)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PriceDiscount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TypeId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Slug)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BrandId)
                                    </td>

                                    <td>
                                        <div class="d-flex">
                                            
                                            <a class="btn btn-danger mx-1" href=@Url.Action("Recover", "Product", new { id = item.Id })> <i class="fa-solid fa-rotate-left"></i></a>
                                            <a class="btn btn-danger mx-1" href=@Url.Action("DeleteTrash", "Product", new { id = item.Id })> <i class="fas fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>


@*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))*@


