@model WebsiteBanHang.Context.C2119110263_OrderDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>C2119110263_OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Price)
        </dd>*@

    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
