@model WebsiteBanHang.Context.C2119110263_OrderDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết Hóa Đơn</h2>
<table class="table table-invoice" style="margin:20px">
    <thead>
        <tr>
            <th class="wd-20p">@Html.DisplayNameFor(model => model.OrderId)</th>
            <th class="wd-40p">@Html.DisplayNameFor(model => model.ProductId)</th>
            <th class="tx-center">@Html.DisplayNameFor(model => model.Quantity)</th>
            <th class="tx-center">@Html.DisplayNameFor(model => model.Price)</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.OrderId)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProductId)
            </td>
            <td>
                @Html.DisplayFor(model => model.Quantity)
            </td>
            <td>
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>
    </tbody>
</table>

<p>
        @Html.ActionLink("Back to List", "Index")
</p>
