@model WebsiteBanHang.Context.C2119110263_Category

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <h4>Xóa Loại Sản Phẩm</h4>
    <hr />
    <table style="margin: 40px" class="table table-bordered">
        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.Avartar)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.Avartar)
            </td>
        </tr>
        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.Slug)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.Slug)
            </td>
        </tr>
        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.ShowOnHomePage)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.ShowOnHomePage)
            </td>
        </tr>

        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.DisplayOrder)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.DisplayOrder)
            </td>
        </tr>


        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.Deleted)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.Deleted)
            </td>
        </tr>

        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.CreatedOnUtc)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.CreatedOnUtc)
            </td>
        </tr>

        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.UpdatedOnUtc)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.UpdatedOnUtc)
            </td>
        </tr>
    </table>


    @using (Html.BeginForm("Delete", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="margin: 40px" class="btn btn-danger"type="submit" value="Delete"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
