@model WebsiteBanHang.Context.C2119110263_Category

<div class="card-body my-3">
    <table class="table table-bordered">
        <h4>Chi Tiết loại sản phẩm</h4>
        <tr>
            <th style="width:120px">Tên Trường</th>
            <th>Nội dung</th>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>

            <th>@Html.DisplayNameFor(model => model.Avartar)</th>

            @*//var item = @Html.DisplayNameFor(model => model.Avatar).ToString();*@
            <td><img style="width:8em" src="~/Content/images/category/@Model.Avartar" alt="@Model.Name" /></td>

        </tr>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Slug)</th>
            <td>@Html.DisplayFor(model => model.Slug)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ShowOnHomePage)</th>
            <td>@Html.DisplayFor(model => model.ShowOnHomePage)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DisplayOrder)</th>
            <td>@Html.DisplayFor(model => model.DisplayOrder)</td>
        </tr>

        <tr>
            <th>@Html.DisplayNameFor(model => model.Deleted)</th>
            <td>@Html.DisplayFor(model => model.Deleted)</td>
        </tr>


        <tr>
            <th>@Html.DisplayNameFor(model => model.CreatedOnUtc)</th>
            <td>@Html.DisplayFor(model => model.CreatedOnUtc)</td>
        </tr>


        <tr>
            <th>@Html.DisplayNameFor(model => model.UpdatedOnUtc)</th>
            <td>@Html.DisplayFor(model => model.UpdatedOnUtc)</td>
        </tr>
    </table>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
