@model WebsiteBanHang.Context.C2119110263_Page

@{
    ViewBag.Title = "Delete";
}



<h3>Bạn có chắc chắn muốn số bài viết không?</h3>
<h2>Xóa Bài Viết</h2>
<div>
    
    <hr />
    <table style="margin: 40px" class="table table-bordered">
        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.Avatar)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.Avatar)
            </td>
        </tr>
        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.ShortDes)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.ShortDes)
            </td>
        </tr>
        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.Deleted)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.Deleted)
            </td>
        </tr>


        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.ShowOnHomePage)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.ShowOnHomePage)
            </td>
        </tr>

        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.DisplayOrder)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.DisplayOrder)
            </td>
        </tr>


        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.CreatedOnUtc)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.CreatedOnUtc)
            </td>
        </tr>

        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.UpdatedOnUtc)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.UpdatedOnUtc)
            </td>
        </tr>

        <tr>
            <th>
                <dt>
                    @Html.DisplayNameFor(model => model.FullDess)
                </dt>
            </th>
            <td>
                @Html.DisplayFor(model => model.FullDess)
            </td>
        </tr>

    </table>


    @using (Html.BeginForm("Delete", "Page", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="margin: 40px" type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
