@model WebsiteBanHang.Context.C2119110263_Page

@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết Bài Viết</h2>

<div class="card-body my-3">
    <table class="table table-bordered">
        
        <tr>
            <th style="width:120px">Tên Trường</th>
            <th>Nội dung</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>

            <th>@Html.DisplayNameFor(model => model.Avatar)</th>
            <td>@Html.DisplayFor(model => model.Avatar)</td>
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(model => model.ShortDes)</th>
            <td>@Html.DisplayFor(model => model.ShortDes)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Deleted)</th>
            <td>@Html.DisplayFor(model => model.Deleted)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ShowOnHomePage)</th>
            <td>@Html.DisplayFor(model => model.ShowOnHomePage)</td>
        </tr>



        <tr>
            <th>@Html.DisplayNameFor(model => model.DisplayOrder)</th>
            <td>@Html.DisplayFor(model => model.DisplayOrder)</td>
        </tr>


        <tr>
            <th>@Html.DisplayNameFor(model => model.CreatedOnUtc)</th>
            <td>@Html.DisplayFor(model => model.CreatedOnUtc)</td>
        </tr>



        <tr>
            <th>@Html.DisplayNameFor(model => model.UpdatedOnUtc)</th>
            <td>@Html.DisplayFor(model => model.UpdatedOnUtc)</td>
        </tr>



        <tr>
            <th>@Html.DisplayNameFor(model => model.FullDess)</th>
            <td>@Html.DisplayFor(model => model.FullDess)</td>
        </tr>

        @*<tr>
            <th>@Html.DisplayNameFor(model => model.FullDescription)</th>
            <td>@Html.DisplayFor(model => model.FullDescription)</td>
        </tr>*@
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
